<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
            </div>
        </div>

        <!-- <section ng-controller="MapCtrl">

            <button ng-click=projectdetails(this) class='btn btn-success  btn-xs ' type='button'> test modal !!! <i class='fa fa-link'></i> </button>

        </section> -->


        <p class="text-right">
            Render Projects by :
            <button type="button" class="btn btn-outline btn-default">Sector</button>
            <button type="button" class="btn btn-outline btn-info">Region</button>
            <button type="button" class="btn btn-outline btn-default">Commissoner</button>
            <button type="button" class="btn btn-outline btn-default">Scope</button>
            <button type="button" class="btn btn-outline btn-default">ODD</button>

        </p>





        <div class="col-lg-12">


            <section id="map" ng-controller="MapCtrl as map ">
                <leaflet style="width: 100%; height: 500px;" center="center" layers="layers" markers="markers" defaults="defaults"></leaflet>
                <div class="text-right s-b-lg">
                    <small><a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | © <a href="https://www.giz.de/en/worldwide/345.html">GIZ CM</a> contributors | 
                        Cette carte est utilisée à titre d’illustration. Elle ne reflète pas toujours la position du gouvernement fédéral allemand 
                        au regard du droit international et n’engage pas la responsabilité de la GIZ GmbH.</small>
                </div>
                <hr>
                
                <h3>Filter : {{myfilter.title}}</h3>
                <ol>
                    <li>
                        <p> All --
                            <button ng-click=addMarkers()> reset</button></p>
                    </li>
                    <!-- <li ng-repeat="region in regions">
                        <p>{{region.title}} -- {{region.id}}
                            <button ng-click=getMarker(region.id)> View markers </button></p>
                    </li> -->
                </ol>
                
                <h1>GIZ in CM -- An interractive map example</h1>


                <h3>Num. Projects By Regions</h3>



                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Regions</th>
                            <th scope="col">Num. of PRojects</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in statsprojects">
                            <th scope="row">{{$index}}</th>
                            <td>{{row.title}} -- <button ng-click=getMarker(row.id)> View markers </button></p></td>
                            <td>{{row.count}}</td>

                        </tr>

                    </tbody>
                </table>



                <!-- <form style="text-align: center;">
                    Latitude : <input type="number" step="any" ng-model="center.lat">
                    Longitude : <input type="number" step="any" ng-model="center.lng">
                    Zoom : <input type="number" step="any" ng-model="center.zoom">
                </form> -->


            </section>
        </div>
    </div>
</div>
